



#loginCircle {
    background: transparent;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:10px solid #f1c40f;
}

#registerCircle {
    background: transparent;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:10px solid #1abc9c;
}

.topcirclePadding{
    padding-top: 15%;
}

.firstcircleLeftPadding{
    padding-left: 72%;
}

.secondcircleLeftPadding{
    padding-left: 113%;
}

.firstcircleLeftPaddingText{
    padding-left: 98%;
    width: 200px;
}

.secondcircleLeftPaddingText{
    padding-left: 147%;
    width: 200px;
}

.firstPageIcon{
    padding-left: 15%;
    padding-top:  15%;
    font-size: 10.5em;
}


/*================Login Page===================*/

.loginFirstCircleTop{
    padding-top: 15%;
}

.loginLeftPadding{
    padding-left: 400px;
}

.loginPageIcon{
    padding-left: 23%;
    padding-top:  13%;
    font-size: 4.0em;
}

.loginPageIcon1{
    padding-left: 27%;
    padding-top:  15%;
    font-size: 4.0em;
}

#usernameCircle {
    background: transparent;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border:6px solid #9b59b6;
}

#passwordCircle {
    background: transparent;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border:6px solid #e74c3c;
}

.leftTextBoxPadding{
    padding-left: 120%;
    width: 300px;
    border-left-width: 25px;
}

.passwordCircleTopPadding{
    padding-top: 20px;
}

.textboxSize{
    height: 50px;
}

.textLeftpadding{
    padding-left: 50px;
}

.tableproperties{
    font-size: 24px;
}

.infoIcon{
    font-size: 2em;
    color: #3498db;
}

a:link {
    color: black;
}